<div class="details">
  <div class="game-banner">
    <img
      class="game-banner-img"
      src="https://media.rawg.io/media/games/84d/84da2ac3fdfc65078007a1808595afb12.jpg"
      alt="background image"
    />
  </div>
  <div class="game-content">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">
          Game Name
        </h1>
        <h2 class="game-header-release-date">
          Release: 1.2.2002
        </h2>
        <p class="game-header-genres">
          <span>RPG</span>
        </p>

      </div>
    </div>
  </div>
</div>
